<!DOCTYPE html>
<html>
<head>
  <title>PayuRails</title>
  <%= stylesheet_link_tag    "payu_rails/application", :media => "all" %>
  <%= javascript_include_tag "payu_rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/payu_rails/partials/nav" %>
  <%= render :partial => "layouts/payu_rails/partials/flash", :locals => {:flash => flash} %>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
